<app-welcome-page *ngIf="this.getServices().length < 1" (onButtonClick)="addServiceClicked()"></app-welcome-page>

<div class="services" *ngIf="this.getServices().length > 0">
  <app-service-card *ngFor="let service of this.getServices(),index as i"
                    [service]="service"
                    [serviceId]="i"
                    class="card"
                    (deleteService)="deleteService(service, i)">
  </app-service-card>
  <button mat-flat-button
          color="primary"
          class="card"
          (click)="addServiceClicked()">
    Přidat službu
  </button>
</div>
