.services {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

app-service-card {
  display: inline-flex;
}

.card {
  margin: 1rem;
  width: calc(33.3vw - 2.5rem);
  max-width: 550px;
  min-height: 100px;
}
