<h2 mat-dialog-title> {{title}}</h2>

<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>{{attributeTitle}}</mat-label>
        <textarea matInput [(ngModel)]="attribute.name" cdkTextareaAutosize cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="8"> </textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{datatypesTitle}}</mat-label>
        <mat-select [(value)]="attribute.datatype">
            <mat-option *ngFor="let dt of datatypes" [value]="dt">
                {{dt.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<button mat-icon-button color="primary" (click)="onCreateEnumDatatypeClick()">
    <mat-icon>add</mat-icon>
    Vytvořit datový typ
</button>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">{{cancelButtonTitle}}</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="attribute" [disabled]="isEmpty()" cdkFocusInitial title="Data musí být vyplněna">{{okButtonTitle}}</button>
</div>
