<div>
  <p>This is a test page :)</p>
  <button (click)="showDialog = true">Show Dialog</button>
</div>

<app-dialog *ngIf="showDialog">
  <div>
    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
    <h2>This is a dialog</h2>
    <p>With some content, you can put here anything</p>
    <button (click)="showDialog = false">Close</button>
  </div>
</app-dialog>
