.chartImage {
  width: 10vw;
  height: auto;
}

.mat-card {
  margin: 1rem;
  width: calc(25vw - 2.5rem);
  max-width: 450px;
  min-height: 100px;
}

.activities {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  margin: 0.5rem;
}
