<h1 mat-dialog-title>Report</h1>
<mat-dialog-content>
  <h2>
    Statistiky pro dny {{showDate(data.from)}} až {{showDate(data.to)}}
  </h2>
  <div class="activities">
    <mat-card *ngFor="let activity of data.activities; index as i">
      <mat-card-title>{{activity}}</mat-card-title>
      <mat-card-content>
        <img class="chartImage" [src]="image">
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="button" mat-stroked-button
          color="primary"
          (click)="closeReport()">
    Zavřít
  </button>
  <button class="button" mat-raised-button
          color="primary">
    Stáhnout
  </button>
</mat-dialog-actions>
