<h2 mat-dialog-title> {{title}}</h2>

<mat-form-field appearance="fill">
    <mat-label>{{nameTitle}}</mat-label>
    <textarea matInput [(ngModel)]="datatype.name" cdkTextareaAutosize cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="8"> </textarea>
</mat-form-field>
<div>
    <mat-form-field appearance="fill">
        <mat-label>{{valuesTitle}}</mat-label>
        <textarea matInput [(ngModel)]="newValue" cdkTextareaAutosize cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="8"> </textarea>
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="onAddNewValueClick()" [disabled] = "newValue.length === 0">
        <mat-icon>add</mat-icon>
        Přidat
    </button>
</div>
<button mat-stroked-button class="activity" *ngFor="let value of datatype.allowedValues; let i = index" [title]="value"
    (click)="onDatatypeValueClick(i)">
    {{value}}
</button>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">{{cancelButtonTitle}}</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onCreateClick()" [mat-dialog-close]=true [disabled]="isEmpty()"
      cdkFocusInitial title="Data musí být vyplněna">{{okButtonTitle}}</button>
</div>
