.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 500px;
  min-width: 350px;
}

mat-card {
  margin: 1rem 2rem;
}

.activity {
  display: flex;
  flex-direction: row;
}

.history {
  flex-grow: 1;
  margin: 1rem 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  position: relative;
  min-height: 0;
  max-height: calc(100vh - 10rem);
  overflow: auto;
}

.history > button {
  margin-top: 1rem;
  align-self: flex-start;
  position: sticky;
  bottom: 0;
}

.title {
  min-height: 2rem;
  padding: 2rem 2rem 0 3rem;
  display: flex;
  align-items: baseline;
}

h2 {
  font-size: 2rem;
}

.table-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.table-menu > mat-form-field {
  flex-grow: 1;
  padding-left: 1rem;
}
