<div class="activity">
  <div class="side-menu">
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="big">{{getActivity(this.serviceId, this.activityId).name}}</mat-card-title>
      <mat-card-content>{{getActivity(this.serviceId, this.activityId).description}}</mat-card-content>
      <mat-card-actions>
        <div>
          <button mat-button color="primary"
                  [disabled]="getActivity(this.serviceId, this.activityId).exercises.length > 0"
                  [title]="getActivity(this.serviceId, this.activityId).exercises.length > 0 ?
                   'Aktivity s definovanými výkony nelze smazat' : 'Klikněte pro smazání služby ' + getActivity(this.serviceId, this.activityId).name"
                  (click)="onDeleteActivityClicked()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete_forever</mat-icon>
            Smazat
          </button>
          <button mat-button color="primary" (click)="onEditActivityClicked()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            Upravit
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z0">
      <mat-card-title>Atributy aktivity</mat-card-title>
      <mat-card-content>
        <div *ngFor="let attribute of getActivity(this.serviceId, this.activityId).attributes">{{attribute.name}}</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="onAddAttributeClicked()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">add_forever</mat-icon>
          Přidat
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="history" *ngIf="getActivity(this.serviceId, this.activityId).exercises.length > 0">
    <div class="table-menu">
      <button mat-button color="primary" (click)="onAddExerciseClicked()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_forever</mat-icon>
        Přidat výkon
      </button>
      <mat-form-field appearance="standard" class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Zadej hledanou hodnotu" #input>
      </mat-form-field>
    </div>
    <div class="table-wrapper mat-elevation-z2">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row; index as i" (click)="$event.stopPropagation()">
            <button mat-icon-button (click)="onModifyExercise(row)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteExercise(row)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; index as i"
                 class="element-row"
                 (click)="onExerciseDetailClicked(row)"></mat-row>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </mat-table>
<!--      <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>-->
    </div>
  </div>

  <app-empty-page *ngIf="getActivity(this.serviceId, this.activityId).attributes.length < 1"
                  class="history"
                  [title]="'Aktivita ' + getActivity(this.serviceId, this.activityId).name + ' ještě nemá atributy'"
                  subtitle="Začněte přidáním atributů"
                  buttonText="Přidat atribut"
                  (onButtonClick)="onAddAttributeClicked()">
  </app-empty-page>

  <app-empty-page *ngIf="getActivity(this.serviceId, this.activityId).attributes.length > 0 && getActivity(this.serviceId, this.activityId).exercises.length < 1"
                  class="history"
                  title="Historie je prázdná"
                  subtitle="Můžete přidat výkon, nebo aktivitě přidat další atribut"
                  buttonText="Přidat výkon"
                  (onButtonClick)="onAddExerciseClicked()">
  </app-empty-page>
</div>
