<h2 mat-dialog-title> {{title}}</h2>
<div mat-dialog-content *ngFor="let valName of valuesWithNames" appearance="fill">
    <div *ngIf="valName.datatype.allowedValues.length === 0 && valName.datatype.name != 'Datum'">
        <mat-form-field appearance="fill">
            <mat-label>{{valName.name}}</mat-label>
            <textarea matInput [disabled]="textReadonly" [(ngModel)]="valName.value" cdkTextareaAutosize
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8"> </textarea>
        </mat-form-field>
    </div>
    <div *ngIf="valName.datatype.allowedValues.length > 0 && valName.datatype.name != 'Datum'">
        <mat-form-field appearance="fill">
            <mat-label>{{valName.name}}</mat-label>
            <mat-select [disabled]="textReadonly" [(value)]="valName.value">
                <mat-option *ngFor="let av of valName.datatype.allowedValues" [value]="av">
                    {{av}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="valName.datatype.name === 'Datum'">
        <mat-form-field appearance="fill">
            <mat-label>{{valName.name}}</mat-label>
            <input matInput [(ngModel)]="valName.value" [matDatepicker]="picker" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled=false></mat-datepicker>
          </mat-form-field>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">{{cancelButtonTitle}}</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="valuesWithNames" [disabled]="isEmpty()"
      cdkFocusInitial title="Data musí být vyplněna">{{okButtonTitle}}</button>
</div>
