<mat-toolbar class="toolbar">
  <span class="logo" (click)="onLogoClicked()">
    <mat-icon aria-hidden="false">pie_chart</mat-icon>
    <span>Evis</span>
  </span>
  <span class="service" *ngIf="appState.currentService != undefined">{{appState.currentService.name}}</span>
  <span class="spacer"></span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link; appState.currentService = null"
       [routerLink]="link.link"
       [active]="activeLink === link">
      {{link.label}}
    </a>
  </nav>
</mat-toolbar>
