mat-toolbar {
  height: unset;
  box-shadow: 0 5px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  margin-bottom: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 75px;
  cursor: pointer;
}

.service {
  padding-left: 1rem;
  color: #6D6C6C;
  font-weight: 400;
  font-size: 0.95rem;
  padding-top: 0.05rem;
}
