<div class="container">
  <img [src]="image">
  <div class="message">
    <h1 class="mat-h1">{{title}}</h1>
    <h2 class="mat-h2">{{subtitle}}</h2>
    <button class="big mat-elevation-z16" mat-raised-button color="primary" (click)="onButtonClick.emit()">{{buttonText}}</button>
  </div>
</div>
