img {
  max-width:80%;
  max-height:90%;
  position: absolute;
  z-index: -1;
  align-self: flex-start;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.message {
  margin-top: 50vh;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 250, 250, 80%);
  backdrop-filter: blur(4px);
}
