.overlay {
  background-color: rgba(255, 255, 255, 10%);
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
}

.background {
  background-color: white;
  border-radius: .5rem;
  padding: 1rem;
  width: 40vw;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
