<h2 mat-dialog-title> {{title}}</h2>
<h3 mat-dialog-title> {{text}}</h3>


<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">{{cancelButtonTitle}}</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true" cdkFocusInitial title="Data musí být vyplněna">{{okButtonTitle}}</button>
</div>
