<h2 mat-dialog-title> {{title}}</h2>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>{{firstName}}</mat-label>
        <input matInput [(ngModel)]="data.firstValue">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{secondName}}</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8" [(ngModel)]="data.secondValue"></textarea>
    </mat-form-field>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">{{cancelButtonTitle}}</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="data" [disabled]="isEmpty()" cdkFocusInitial title="Data musí být vyplněna">{{okButtonTitle}}</button>
</div>
