/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

mat-card {
  background-color: #fff;
}

mat-card-title {
  line-height: 1.2;
}

mat-card-title.big {
  font-size: 2rem;
}

button.big {
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

button.huge {
  padding: 1.5rem 2.75rem;
  font-size: 1.5rem;
}
