<mat-card class="mat-elevation-z2">
  <mat-card-title>{{service.name}}</mat-card-title>
  <mat-card-subtitle>{{service.description}}</mat-card-subtitle>
  <mat-card-content>
    <div class="activities">
      <button mat-stroked-button
              class="activity"
              *ngFor="let activity of service.activities; let i = index"
              [title]="activity.name"
              (click)="onNavigateToActivityClicked(activity, i)">
        {{activity.name}}
      </button>
      <button mat-stroked-button
              color="primary"
              class="activity" [ngClass]="{'full': service.activities.length === 0}"
              (click)="onAddActivityClicked()">
        Přidat aktivitu
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-button color="primary"
              [disabled]="service.activities.length > 0"
              [title]="service.activities.length > 0 ? 'Služby s definovanými aktivitami nelze smazat' : 'Klikněte pro smazání služby ' + service.name"
              (click)="onDeleteServiceClicked()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete_forever</mat-icon>
        Smazat
      </button>
      <button mat-button color="primary" (click)="onEditServiceClicked()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        Upravit
      </button>
    </div>
  </mat-card-actions>
</mat-card>
