.activity {
  margin-right: .5rem;
  margin-top: .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity.full {
  width: 100%;
  height: 5rem;
  margin: 1rem 0 0;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-card {
  width: 100%;
}

mat-card-content {
  margin-bottom: 3rem;
}

mat-card-actions {
  position: absolute;
  bottom: 1rem;
}

.deleting-overlay {
  background-color: rgba(255, 255, 255, 70%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  border-radius: .5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
