<div *ngIf="!isEmpty()" class="statistics">
  <div *ngFor="let service of services; index as i">
    <mat-expansion-panel *ngIf="hasActivities(service.activities)" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{service.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let activity of service.activities; index as n">
        <mat-checkbox color="primary" (click)="changeActivitiesChosen(i, n)" >
          {{activity.name}}
        </mat-checkbox>
      </div>
    </mat-expansion-panel>
  </div>
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Vyberte časový úsek</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="date.start" placeholder="Od">
          <input matEndDate [(ngModel)]="date.end" placeholder="Do">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button class="report"
              mat-stroked-button
              color="primary"
              [disabled]="date.start == null || date.end == null || !activityIsSelected()"
              (click)="generateReport()">
        Zobrazit report
      </button>
    </mat-card-content>
  </mat-card>
</div>
<app-empty-page *ngIf="isEmpty()"
                [title]="emptyStatisticsTitle"
                [subtitle]="emptyStatisticsSubtitle"
                [buttonText]="emptyStatisticsButtonText"
                (onButtonClick)="redirectToServices()">
</app-empty-page>
