.mat-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: calc(33.3vw - 2.5rem);
  max-width: 550px;
  min-height: 100px;
  position: relative;
}

.mat-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
}

.report {
  margin-left: 40px;
}

.statistics {
  margin: 2vh 1vw;
}

.mat-expansion-panel > .mat-expansion-panel-header {
  font-size: 1.2rem;
}
